*{
    margin:0;
    padding:0;
}
body {
    background-attachment: fixed;
    background-color: #b6bee4;
    background-image: url('../images/rebelv.png');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
button {   
    background-color: lavender;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    padding: 1% 2%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}
header {
    padding-top: 25px;
    text-align: center;
    font-family: Helvetica;
    cursor: pointer;
}
footer {  
    bottom: 0;
    font-family: Helvetica;
    font-size: small;
    padding-bottom: 15px;
    position: fixed;  
    text-align: center;
    width: 100%;
}
.container #panel {
    bottom: 0px;
    position:fixed;
    height: 150%;
    width: 100%;
    z-index: -1;
}
iframe {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 100%;
    height: 700px;
    z-index: 1;
}
#form {
    display: none;
}
img {
    height: 29px;
    width: 29px;
}
li {
    display: inline-block;
}